body {
	border: 0;
	margin: 0;
    background: #f7f7f7;
}

a {
	color:#ffffff;
    text-decoration: none;
}

/** Header styles **/

.header1 {
	background-image: url(images/cover.JPG);
	background-position: center center;
    background-size: cover;
    height: 900px;
}

.header2{
    background-image: url(images/basic.jpg);
    height: 320px;
    background-position: center center;
    background-size: fixed;
    padding-top: 16%;
    padding-bottom: 5%;
}

.bigtitle {
	color: #DE3163;
    line-height: 110px;
}

h1 {
	font-family: 'Anton', sans-serif;
	font-weight: 700;
	font-size: 100px;
	margin: 0;
    position: relative;
    text-align: left;
    color: #B0E0E6;
    line-height: 230px;
    padding-left: 5%;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-weight: 700;
    font-size: 100px;
    margin: 0;
    position: relative;
    text-align: center;
    color: #B0E0E6;
    text-shadow: 2px 2px #029fca;
}

h3 {
    font-family: 'cwtexming', sans-serif;
    font-size: 50px;
    margin: 0;
    position: relative;
    text-align: center;
    color: #B0E0E6;
    padding-top: 10%;
    padding-bottom: 2%;
}

h4{
    font-family: 'cwtexming', sans-serif;
    font-size: 18px;
    margin: 0;
    position: relative;
    text-align: center;
    color: steelblue;
    padding-bottom: 2%;
}

/** Paragrah Style **/

p {
    font-family: 'cwtexming', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.p1 {
    position: relative;
    text-align: left;
    color: #DE3163;
    padding-left: 5%;
}

.underparagraph {
    margin-top: 50px;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #ffffff;
    opacity:0.8;
}

p.exp {
    position: relative;
    text-align: center;
    color: steelblue;
}

/** Button styles **/

.moveon {
	font-weight: 800;
	font-size: 50px;
    position: relative;
    text-align: right;
    color: #B0E0E6;
    padding-right: 2%;
}

.test {
    position: relative;
    text-align: center;
    background-color: #B0E0E6;
    color: white;
    padding: 2%;
    margin-top: 5%;
    margin-bottom:10%;
}

/** List styles **/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

li {
    float: left;
}

.overlay-figure {
  position: relative;
  display: table;
  border: none;
  margin-right: 0.5%;
}

.overlay-figure-content {
  width: 100%;
  height: 100%;
 -webkit-transform: scale(1.0) translateZ(0);
    -moz-transform: scale(1.0) translateZ(0);
         transform: scale(1.0) translateZ(0);
  -webkit-transition: -webkit-transform 0.5s ease 0.25s;
     -moz-transition:    -moz-transform 0.5s ease 0.25s;
          transition:         transform 0.5s ease 0.25s;
}

.overlay-figure:hover
.overlay-figure-content {
    -webkit-transform: scale(0.95) translateZ(0);
       -moz-transform: scale(0.95) translateZ(0);
            transform: scale(0.95) translateZ(0);
}

.overlay-figure-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-image: linear-gradient(to bottom, rgba(38,50,72, 0.1), rgba(38,50,72, 0.85));
}

.overlay-figure:hover
.overlay-figure-background {
  opacity: 1;
}

.overlay-figure-caption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  opacity: 0;
  -webkit-transition: opacity ease 0.25s;
     -moz-transition: opacity ease 0.25s;
          transition: opacity ease 0.25s;
}

.overlay-figure:hover
.overlay-figure-caption {
    opacity: 1;
}

.overlay-figure-caption
.contents {
  display: table;
  width: 100%;
  height: 100%;
}

.overlay-figure-caption
.contents-stack {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 5%;
}

.overlay-figure-caption
.title {
  display: block;
  margin-bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(-100%) translateZ(0);
     -moz-transform: translateY(-100%) translateZ(0);
          transform: translateY(-100%) translateZ(0);
  -webkit-transition: -webkit-transform 0.5s ease 0.25s, opacity 0.15s ease 0.25s;
     -moz-transition:    -moz-transform 0.5s ease 0.25s, opacity 0.15s ease 0.25s;
          transition:         transform 0.5s ease 0.25s, opacity 0.15s ease 0.25s;
}

.overlay-figure:hover 
.title {
  opacity: 1;
  -webkit-transform: translateY(0) translateZ(0);
     -moz-transform: translateY(0) translateZ(0);
          transform: translateY(0) translateZ(0);
}

.overlay-figure
.separator {
  display: block;
  margin: 12px;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  width: 30%;
  background-color: white;
  -webkit-transform: scaleX(0) translateZ(0);
     -moz-transform: scaleX(0) translateZ(0);
          transform: scaleX(0) translateZ(0);
  -webkit-transition: -webkit-transform 0.25s ease 0.25s;
     -moz-transition:    -moz-transform 0.25s ease 0.25s;
          transition:         transform 0.25s ease 0.25s;
}

.overlay-figure:hover
.separator {
  -webkit-transform: scaleX(1) translateZ(0);
     -moz-transform: scaleX(1) translateZ(0);
          transform: scaleX(1) translateZ(0);
}

.overlay-figure-caption 
.text {
  display: block;
  margin-top: 0;
  opacity: 0;
  -webkit-transform: translateY(100%) translateZ(0);
     -moz-transform: translateY(100%) translateZ(0);
          transform: translateY(100%) translateZ(0);
  -webkit-transition: -webkit-transform 0.5s ease 0.25s, opacity 0.15s ease 0.25s;
     -moz-transition:    -moz-transform 0.5s ease 0.25s, opacity 0.15s ease 0.25s;
          transition:         transform 0.5s ease 0.25s, opacity 0.15s ease 0.25s;
}

.overlay-figure:hover
.text {
  opacity: 1;
  -webkit-transform: translateY(0) translateZ(0);
     -moz-transform: translateY(0) translateZ(0);
          transform: translateY(0) translateZ(0);
}